<!DOCTYPE html>
<html>
	<head>
		<title>The coolest thing &mdash; Gavin Dinubilo</title>
		<link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
        <link href='/css/dancer.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
        
		<div id="loading"><div class="loader">Loading...</div></div>
		<div class="wrap">
			<div id="pause"></div>
			<div id="next"></div>

		</div>
		<canvas id="waveform" height="400" width="1024"></canvas>
	    	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>
				
				<!-- Dancer.js -->
        <script src="./src/dancer.js"></script>
        <script src="./src/support.js"></script>
        <script src="./src/kick.js"></script>
        <script src="./src/adapterWebAudio.js"></script>
        <script src="./src/adapterMoz.js"></script>
        <script src="./src/adapterFlash.js"></script>
        <script src="./lib/fft.js"></script>
        <script src="./lib/flash_detect.js"></script>
        <script src="./plugins/dancer.fft.js"></script>
        <script src="./plugins/dancer.waveform.js"></script>
				
		<!-- Demo stuff -->
        
        <script src="./js/player.js"></script>
        
	</body>
</html>
