<!DOCTYPE html>
<html>
	<head>
		<title>Everybodj</title>
		<link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
        <link href='/css/dancer.css' rel='stylesheet' type='text/css'>
	</head>
	<body>


		<div class="wrap">
				<input type="text" id="song-name" name="song-name" placeholder="Search Songs">
				<button class="btn" id="btn">GO</button>
				<ul id="song-list"></ul>
		</div>
		<div class="side">
			<h3>About</h3>
			<p>
				This is everybodj, load up <a href="http://m.everybodj.com">m.everybodj.com</a> on your mobile device and to change the color and wave types.
			</p>
			<h3>Key Codes</h3>
			<ul>
				<li>f - fullscreen (chrome only)</li>
				<li>down arrow - change wavetype</li>
				<li>right arrow - random colors</li>
				<li>left arrow - change color</li>
				<li>space bar - toggle play/pause</li>
			</ul>
		</div>
		<button class="trigger"></button>
		<canvas id="waveform" height="400" width="1024"></canvas>
	    	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="http://everybodj.herokuapp.com/socket.io/socket.io.js"></script>

				<!-- Dancer.js -->
        <script src="./src/dancer.js"></script>
        <script src="./src/support.js"></script>
        <script src="./src/kick.js"></script>
        <script src="./src/adapterWebAudio.js"></script>
        <script src="./src/adapterMoz.js"></script>
        <script src="./src/adapterFlash.js"></script>
        <script src="./lib/fft.js"></script>
        <script src="./lib/flash_detect.js"></script>
        <script src="./plugins/dancer.fft.js"></script>
        <script src="./plugins/dancer.waveform.js"></script>

				<!-- Demo stuff -->
        <script src="./js/player.js"></script>


	</body>
</html>
