<!DOCTYPE HTML>
<html>
  <head>
    <title>"nTunes": REST API for Interacting with iTunes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="scripts/prototype.js"></script>
  </head>
  <body>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script>
          SC.initialize({
            client_id: 'ab607d302c6da74db4b68567374ba72c'
          });

          // stream track id 293
          SC.stream("/tracks/293", function(sound){
            console.log(sound);
            sound.play();
          });
        </script>
  </body>
</html>
